@mixin trabajo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin trabajoReverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.trabajo1 {
    @include trabajo;
}

.trabajo2 {
    @include trabajoReverse;
}

.trabajo3 {
    @include trabajo;
}

.trabajo4 {
    @include trabajoReverse;
}

.trabajo5 {
    @include trabajo;
}